# Configurações do Banco de Dados
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=sua_senha_segura_aqui
DB_NAME=gestao_ct_financeiro

# Configurações da Aplicação
PORT=3000
NODE_ENV=development

# Configurações do MySQL Docker
MYSQL_ROOT_PASSWORD=sua_senha_segura_aqui
MYSQL_DATABASE=gestao_ct_financeiro
